.main {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  position: relative;
}

.title {
  margin: 0;
}

.staff__card-list-item {
  inline-size: 100%;
}

/*пока мало карточек*/
@media (width > 660px) {
  .staff__card-list {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}