:root.dark-theme {
  --header-gradient:
  linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  --background-image: url(../images/background-dark.png);
  --main-background-color: #1b1b1a;
  --block-background-color: rgba(56, 56, 55, 0.5);
  --staff-card-color: rgba(59, 59, 59, 0.8);
  --text-color: #c4bfae;
  --button-color: #856d16;
  --dollar-color: #353434;
  --accent-color: #6f5b1a;
  --card-backgroud-color: #181818;
  --title-color: #fff;
  --popover-menu-background-color: #000000;
  --modal-background-color: #333;
  --button-theme-hover-color: rgba(71, 71, 70, 0.8);
  --subsection-title-bacground-color: #af9a4d;
}