.main {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 20px 30px;
}

/* СТИЛИ БЛОКОВ ДРУГИХ ПРОФИЛЕЙ */

.profiles {
  position: sticky;
  top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  block-size: fit-content;
  inline-size: 280px;
}

.profiles__title {
  border-radius: 5px;
  padding: 5px;
  color:var(--title-color);
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--button-color);
  inline-size: fit-content;
}

.profiles__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--block-background-color);
}

.choice__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--staff-card-color);
}

.profiles__list-link {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.link-img {
  border-radius: 50%;
  block-size: 48px;
  inline-size: 48px;
  transition: box-shadow 0.4s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link-img:hover {
  box-shadow: 0 0 10px var(--accent-color);
}

/* СТИЛИ ОСНОВНОГО ПРОФИЛЯ */

.page {
  display: flex;
  flex-grow: 2;
  gap: 30px;
  border-radius: 5px;
  padding: 40px;
  background-color: var(--block-background-color);
}

.left-side {
  position: sticky;
  top: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: fit-content;
  inline-size: 200px;
}

.middle-side {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 30px;
  padding: 30px;
  background-color: var(--block-background-color);
  border-radius: 5px;
}

.own-profile-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}

.avatar-img {
  border: 2px solid var(--text-color);
  border-radius: 50%;
  block-size: 200px;
  inline-size: 200px;
  object-fit: cover;
}

.main-info__name {
  font-size: 45px;
}

.main-info__list {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  text-wrap: nowrap;
  grid-template-rows: repeat(2, min-content);
  gap: 10px;
}

.position {
  justify-self: center;
}

.birthdate {
  justify-self: end;
}

.status {
  grid-row: 2;
  grid-column: 1 / 4;
}

.main-info__list-item {
  display: flex;
  gap: 10px;
}

.main-info__parameter-key {
  border-radius: 5px;
  padding: 5px;
  color: var(--title-color);
  font-size: 10px;
  text-transform: uppercase;
  background-color: var(--button-color);
}

.about-me__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.friends-container {
  grid-column: 1;
  grid-row: 3;
}

.friends__list {
  display: flex;
  gap: 20px;
}

.interests__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.interests__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.posts-container {
  grid-column: 2;
  grid-row: 2 / 6;
}

.posts-inner-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}

.utils-container {
  align-self: end;
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
}

.filter-button {
  display: flex;
  gap: 5px;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: color 0.4s ease;
}

.filter-button:hover {
  color: var(--accent-color);
}

.filter-active {
  color: var(--accent-color);
}

.settings-container {
  display: none;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  background-color: var(--popover-menu-background-color);
  padding: 20px;
  border-radius: 20px;
  inline-size: 700px;
  z-index: 3;
  box-shadow: 4px 4px 6px var(--accent-color);
}

.settings-header-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.question {
  margin-block-start: 3px;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: var(--button-color);
  color: var(--title-color);
  padding: 2px 5px;
  border-radius: 5px;
  z-index: 4;
}

.input {
  border: 1px solid var(--text-color);
  border-radius: 25px;
  padding: 5px;
  flex-grow: 2;
}

.remove-icon {
  cursor: pointer;
  transition: color 0.4s ease;
}

.remove-icon:hover {
  color: var(--accent-color);
}

.input:focus {
  outline: 2px solid var(--subsection-title-bacground-color);
  border: none;
}

.sorting-container {
  display: flex;
  gap: 10px;
}

.active {
  border: none;
  background-color: var(--button-theme-hover-color);
}

.fields-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  column-gap: 50px;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}

.input-container {
  flex-grow: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-label {
  inline-size: 50px;
  flex-wrap: wrap;
}

.sorting-container {
  flex-direction: row;
  justify-items: center;
  grid-column: 3;
  grid-row: 1;
  align-items: center;
  align-items: center;
}

.sorting__svgs {
  inline-size: fit-content;
  block-size: 24px;
}

.arrow-sorting {
  transition: color 0.4s ease;
  cursor: pointer;
}

.arrow-sorting:hover {
  color: var(--accent-color);
}

.arrow-up {
  transform: rotate(180deg);
}

.btn {
  justify-self: end;
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
  color: var(--title-color);
  background-color: var(--button-color);
  cursor: pointer;
  inline-size: fit-content;
  transition: background-color 0.4s ease;
}

.btn-reset {
  border: 2px solid var(--button-color);
  background-color: transparent;
}

.btn-submit:hover {
  background-color: #ac8917;
}

.btn-reset:hover {
  background-color: var(--button-theme-hover-color);
}

.buttons {
  display: flex;
  gap: 10px;
  align-self: end;
  grid-row: 3;
  grid-column: 3;
  margin-block-start: 10px;
}


/*  ПОСТЫ */
.more-info {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.checkbox {
  display: none;
}

.more-info-head {
  display: flex;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
  color: var(--subsection-title-bacground-color);
  transition: color 0.4s ease;
}

.more-info-head:hover {
  color: var(--accent-color);
}

.more-info-body {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  block-size: 0;
}

.checkbox:checked ~ .more-info-body {
  margin-block-start: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 1;
  transition: transform 0.4s ease;
  transform: scaleY(1);
  block-size: auto;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.posts-list-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  padding: 15px;
  background-color: var(--staff-card-color);
}

.author-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-name {
  font-size: 20px;
}

.post-text {
  font-size: 17px;
  inline-size: 100%;
}

/* В зависимости от количества фото */
.post-images-container {
  display: grid;
  gap: 4px;
  border-radius: 12px;
  overflow: hidden;
}

/* Одна фотография */
.post-images-container:has(.post-img:only-child) {
  grid-template-columns: 1fr;
}

.post-images-container:has(.post-img:only-child) .post-img {
  height: auto;
  max-height: 500px;
  object-fit: contain;
}

/* Две фотографии */
.post-images-container:has(.post-img:nth-last-child(2):first-child) {
  grid-template-columns: 1fr 1fr;
}

/* Три фотографии (первая большая) */
.post-images-container:has(.post-img:nth-last-child(3):first-child) {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.post-images-container:has(.post-img:nth-last-child(3):first-child) .post-img:first-child {
  grid-row: span 2;
}

/* Четыре фотографии (сетка 2x2) */
.post-images-container:has(.post-img:nth-last-child(4):first-child) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* 5 фотографий*/
.post-images-container:has(.post-img:nth-last-child(5):first-child) {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr min-content;
}

.post-images-container:has(.post-img:nth-last-child(5):first-child) .post-img:first-child {
  grid-row: 1;
  grid-column: 1 / 5;
}

/* 6 фотографий*/
.post-images-container:has(.post-img:nth-last-child(6):first-child) {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr min-content;
}

.post-images-container:has(.post-img:nth-last-child(6):first-child) .post-img:first-child {
  grid-row: 1;
  grid-column: 1 / 6;
}

/* ДЛЯ НЕЧЕТНЫХ*/
.post-images-container:has(.post-img:nth-last-child(7):first-child) {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr min-content;
}

.post-images-container:has(.post-img:nth-last-child(7):first-child) .post-img:first-child {
  grid-row: 1;
  grid-column: 1 / 7;
}

/* ДЛЯ ЧЕТНЫХ */
.post-images-container:has(.post-img:nth-last-child(8):first-child) {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr min-content;
}

.post-images-container:has(.post-img:nth-last-child(8):first-child) .post-img:first-child {
  grid-row: 1;
  grid-column: 1 / 4;
}

.post-images-container:has(.post-img:nth-last-child(8):first-child) .post-img:nth-child(2) {
  grid-row: 1;
  grid-column: 4 / 7;
}

/* 9 фотографий*/
.post-images-container:has(.post-img:nth-last-child(9):first-child) {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr min-content;
}

.post-images-container:has(.post-img:nth-last-child(9):first-child) .post-img:first-child {
  grid-row: 1;
  grid-column: 1 / 9;
}

/* 10 фотографий*/
.post-images-container:has(.post-img:nth-last-child(10):first-child) {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr min-content;
}

.post-images-container:has(.post-img:nth-last-child(10):first-child) .post-img:first-child {
  grid-row: 1;
  grid-column: 1 / 10;
}

.post-img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.post-tags-container {
  display: flex;
  gap: 15px;
}

.post-tag {
  background-color: var(--subsection-title-bacground-color);
  color: var(--title-color);
  padding: 0px 5px;
  border-radius: 5px;
}

.post-date {
  inline-size: fit-content;
  align-self: end;
}

.error-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: auto;
}

.error-state .title {
  text-align: center;
}

.staff__card {
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 15px;
}

.staff__image-container {
  block-size: 48px;
  inline-size: 48px;
  overflow: hidden;
  border-radius: 50%;
}

.card-img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: scale-down;
  object-position: center;
  aspect-ratio: 1 / 1;
  scale: 1.2;
}

.profiles__list .card-text {
  font-size: 12px;
  z-index: 4;
}

.arrow {
  display: block;
  transition: color 0.4s ease;
  block-size: 50px;
  inline-size: 50px;
}

.arrow:hover {
  color: var(--button-color);
}

.all-pages-list-item {
  background-color: var(--staff-card-color);
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.4s ease,
  box-shadow 0.4s ease;
}

.all-pages-list-item:hover {
  box-shadow: 0px 4px 4px var(--accent-color);
  transform: translateY(-3px);
}

.all-pages-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.active ~ .arrow-sorting {
  color: var(--accent-color);
  border-radius: 5px;
}

@media (width < 1240px) {
  .settings-container {
    inline-size: 500px;
  }

  .fields-container {
    grid-template-columns: 1fr;
  }
}