.list {
  list-style-type: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--block-background-color);
}

.list-item__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-item__container-title {
  border-radius: 5px;
  padding: 5px;
  color: var(--title-color);
  background-color: var(--subsection-title-background-color);
  inline-size: fit-content;
}

.list-item__text {
  font-size: 18px;
}

.clothes-img {
  align-self: center;
  inline-size: clamp(200px, 70vi, 700px);
}